#header {
    background: #1f2937;
    color: #F9FAF8;
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero {
    background: #1f2937;
    color: #F9FAF8;
    width: auto;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#info {
    background: white;
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    padding: 16px;
    gap: 8px;
    width: auto;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#info div {
    background: white;
    color: #1F2937;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.image {
    background: white;
    border: 2px solid #3882f6;
    padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

#quote {
    background: #E5E7EB;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    text-align: center;
    padding: 16px;
    width: auto;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background: white;
    color: black;
    width: auto;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button div {
    background: #3882F6;
    color: white;
    display: flex;
    margin: 16px;
    padding: 16px;
    gap: 8px;
    width: 500px;
    align-items: center;
    justify-content: center;
}

#footer {
    background: #1f2937;
    color: #F9FAF8;
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

